$shadow: 0 2px 3px rgba(73, 80, 83, 0.25),
0 2px 3px rgba(191, 194, 196, 0.22);

.App {
  // text-align: center;
  font-family: Verdana,Geneva,sans-serif; 
 
    overflow-x: hidden;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.course-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: $shadow;
  overflow: hidden;
  padding: 16px;
  justify-content: center;
  height: 90%;
  margin: 10px;
  color: #282c34;
  // width: 90%;
  // flex-grow: 1;
}
.scrollable {

  overflow: auto;
  max-height: 80vh; 
}
.course-card-lessons {
  display: flex;
  // flex-direction: column;
  border: 1px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: $shadow;
  overflow: hidden;
  padding: 16px;

  // justify-content: center;
  // height: 90%;
  color: #23272e;
  flex-grow: 1;
}
.courses-page {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 20px;

}
.course-page-info {
  // left: 0;
  //   float: left;
  // clear: right;
  // flex-grow: 1;
}

.course-page p {
  font-size: medium;
  width: 60%;
  // flex-grow: 1;

}

.course-card:hover {
  cursor: pointer;
  // display: flex;
  // flex-direction: column;
  // border: 1px solid #ccc;
  // border-radius: 8px;
  // padding: 16px;
  // margin-bottom: 16px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // overflow: hidden;
  // padding: 16px;
  // justify-content: center;
  // height: 90%;
  // color: #23278f;
  // flex-grow: 1;
}
.content {
  // padding: 50px;
  // background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.not-found {
  // padding: 50px;
  // background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.not-found h1 {
  font-size: 60px;
  color: crimson;
}
.rate-container .ant-rate {
  display: inline-block;
  vertical-align: middle;
}
.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  //  align-items: stretch;
}
.course-card-count {
  border-radius: 2px;
  padding: 10px;
  font-size: larger;
  background-color: rgba(234,85,43,0.8);
  color: #fff;

  width: 100px;
  text-align: center;
  vertical-align:baseline;
}
.course-card h3 {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 16px;
}
.course-card-body {
  padding: 16px;
  flex-grow: 1;
  // margin-top: 40px;
}
.course-card-image {
  flex-shrink: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  // align-items: 'stretch';
  margin-top: 50px;
}

.course-card h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.course-card p {
  font-size: 16px;
  margin-bottom: 16px;
}

.course-card-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.course-card-status {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 16px;
  margin: 10px;
  background-color: #006eff;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
 
}

.pagination li {
  margin: 0 10px;
}

.pagination li a,
.btn {
  display: inline-block;
  padding: 10px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.btn {
  border: 1px solid #938989;
}

.pagination .previous,
.pagination .next {
  display: none;
  visibility: hidden;
}
.pagination li.active a,
.btn:hover {
  background-color: #0077ff;
  color: #fff;
}
.header{
position: relative;
background-color: #f7f7f7;
width: 100%;
margin: 0;
display: flex;
padding: 10px;
z-index: 4;
width: 100%;
opacity: 1;
height: 70px;
top: 0;
transition: 0.3s;
box-shadow: $shadow;
}
.motto{
  color:#EA552B;
  text-transform: uppercase;
  font-weight:900;
}
.logo {
  background-image: url(../src/logo.svg);
  display: block;
  width: 130px;
  height: 35px;
  margin: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
box-shadow: none;


}
.courses-h1{
text-align: center;
justify-content: center;
color:#00A698;
text-shadow: $shadow;
}
@media screen and (max-width: 900px) {
  .logo{
    width: 200px;
    height: 40px;
  }
}
